<!DOCTYPE html>
<html>
    <head>   
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>West Michigan Trail Conditions</title>
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "/app.css">
    <script type="text/javascript" src="/style.js"></script>
    
    </head>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">West Michigan Trail Conditions</a>
            </div>
        </div>
    </nav>

    <body>

  	